<div class="background">
    <div class="container">
        <div class="products-list">
            <div class="filter-container">
                <app-products-collections></app-products-collections>
            </div>
            <div class="row">
                <div *ngFor="let product of productList$ | async" class="col-md-4 col-sm-6">
                    <div class="margin-y">
                        <div class="product-item ">
                            <div class="product-body">
                                <img [src]='product.node.featuredImage.originalSrc'>
                                <div id="overlay">
                                    <div class="overlay-action">
                                        <span matTooltip="Add to cart">
                                            <fa-icon icon="shopping-cart"></fa-icon>
                                        </span>
                                        <span matTooltip="See details">
                                            <fa-icon icon="search"></fa-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-header">
                                <p class="title">{{product.node.title}}</p>
                            </div>
                            <div class="product-footer">
                                <p>Price: 21 USD</p>
                                <p>Shipping : Free shipping</p>
                                <button color="primary" mat-button [routerLink]="['/products', product.node.id]"
                                    routerLinkActive="router-link-active">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>